@import '../variables.scss';

li.card {
  display: inline-block;
  width: 15rem;
}

li.card > button.card__wrapper-button {
  width: 100%;
  background-color: transparent;

  > span.card__img-wrapper {
    pointer-events: none;
    display: block;
    width: 66.6%;
    height: 10rem;
    border-radius: .5rem;
    border: .1rem solid $night-2;
    background-color: transparentize($night-1, .8);
    margin: 0 auto 1rem auto;
    transition: .25s;

    > .react-icon {
      width: 70%;
      height: 70%;
      margin-top: 15%;
    }
  }

  > span.card__title {
    pointer-events: none;
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    color: white;
  }

  &:hover > span.card__img-wrapper {
    background-color: transparentize($night-1, .7);
  }

  &:active > span.card__img-wrapper {
    transform: translateY(.3rem);
  }
}
