@import '../variables.scss';

div.dialogue {
  margin: 1rem 0;
  padding: 1rem 1.5rem 1rem 3rem;

  > div.dialogue__wrapper {
    display: inline-block;
    color: $night-1;

    > p.dialogue__content,
    > p.dialogue__translation {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    > p.dialogue__content {
      background-color: $snow-1;
      padding-top: .8rem;
      padding-bottom: .5rem;
      border-top-left-radius: .3rem;
      border-top-right-radius: .3rem;
    }

    > p.dialogue__translation {
      background-color: $frost-4;
      color: $snow-1;
      font-size: 1.4rem;
      padding-top: .5rem;
      padding-bottom: .8rem;
      border-bottom-right-radius: .3rem;
      position: relative;

      &:before {
        position: absolute;
        content: '';
        left: -1.4rem;
        bottom: 0;
        border-left: 1.5rem solid transparent;
        border-right: 0rem solid transparent;
        border-bottom: 1.5rem solid $frost-4;
      }
    }
  }

  &.dialogue--right {
    padding: 1rem 3rem 1rem 1.5rem;
    text-align: right;
  }

  &.dialogue--right > div.dialogue__wrapper {
    text-align: left;

    > p.dialogue__translation {
      border-bottom-left-radius: .3rem;
      border-bottom-right-radius: 0rem;  
    }

    > p.dialogue__translation:before {
      display: none;
    }

    > p.dialogue__translation:after {
      position: absolute;
      content: '';
      right: -1.4rem;
      bottom: 0;
      border-right: 1.5rem solid transparent;
      border-left: 0rem solid transparent;
      border-bottom: 1.5rem solid $frost-4;
    }
  }
}

div.hint {
  margin: 2rem 0;
  > p.hint__title {
    padding: 1rem 1.2rem .5rem 1.2rem;
    font-size: 1.8rem;
    background-color: $frost-4;
    margin: 0;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
  }

  > div.hint__content {
    padding: 1rem 1.2rem;
    background-color: $snow-1;
    color: $night-1;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;

    > p + p {
      margin-top: 1rem;
    }
  }
}

div.vocabulary-noun {
  + div.vocabulary-noun {
    margin-top: 1rem;
  }

  > p.vocabulary-noun__value {
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
    padding: .5rem 1rem;
    font-weight: bolder;
  }
  > p.vocabulary-noun__translation {
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    padding: .3rem 1rem;
    font-size: 1.4rem;
  }
  &.vocabulary-noun--m > p.vocabulary-noun__value {
    background-color: $frost-4;
  }
  &.vocabulary-noun--f > p.vocabulary-noun__value {
    background-color: $aurora-red;
  }
  &.vocabulary-noun--n > p.vocabulary-noun__value {
    background-color: darken($aurora-green, 10%);
  }
  > p.vocabulary-noun__translation {
    background-color: $snow-1;
    color: $night-1;
  }
}

div.vocabulary-verb {
  + div.vocabulary-verb {
    margin-top: 1rem;
  }

  > p.vocabulary-verb__value {
    background-color: $frost-4;
    color: $snow-1;
    padding: .5rem 1rem;

    > span.vocabulary-verb__translation {
      font-size: 1.4rem;
      margin-left: .5rem;
    }
  }

  > div.vocabulary-verb__ipc {
    background-color: $snow-1;
    color: $night-1;
    font-size: 0;
    > div.vocabulary-verb__ipc-singular,
    > div.vocabulary-verb__ipc-plural {
      display: inline-block;
      width: 50%;
      > p {
        padding: .5rem 1rem;
        font-size: 1.6rem;
        + p {
          padding-top: 0;
        }
      }
      > p > span.vocabulary-verb__ipc-form {
        font-weight: bolder;
      }
    }
  }
}