@import '../variables.scss';

.page__lessons {
  padding: 8rem 0 16rem 0;
}

ul.card-group__cards {
  text-align: center;
  padding: 2rem 0;

  > li.card {
    margin-right: 1rem;
    margin-top: 2rem
  }
}

$card-color-list: (
  'conversation': lighten($aurora-green, 5%),
  'vocabulary': $aurora-yellow,
  'grammer': $frost-2
);

@each $type, $color in $card-color-list {
  li.card.card--#{$type} > button.card__wrapper-button {
    & > span.card__img-wrapper > .react-icon {
      color: $color;
    }
  
    &:hover > span.card__img-wrapper {
      box-shadow: 0 0 .3rem $color;
    }

    &:active > span.card__img-wrapper {
      box-shadow: 0 -.3rem .3rem $color;
    }
  }  
}
