@import '../variables.scss';

.page__lessons {
  width: 96rem;
  margin: 0 auto;
  padding: 8rem 0 16rem 0;
}

ul.card-group__cards {
  text-align: center;
  padding: 3rem 0 1rem 0;
}

$card-color-list: (
  'conversation': lighten($aurora-green, 5%),
  'vocabulary': $aurora-yellow,
  'grammer': $frost-2
);

@each $type, $color in $card-color-list {
  li.card.card--#{$type} > button.card__wrapper-button {
    & > span.card__img-wrapper > .react-icon {
      color: $color;
    }
  
    &:hover > span.card__img-wrapper {
      box-shadow: 0 0 .3rem $color;
    }

    &:active > span.card__img-wrapper {
      box-shadow: 0 -.3rem .3rem $color;
    }
  }  
}

@media screen and (max-width: 96rem) {
  .page__lessons {
    width: 90vw;
  }  
}
