@import './scss/variables.scss';
@import './scss/button.scss';
@import './scss/link.scss';
@import './scss/animation.scss';

*, *:after, *:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $main-font-family;
  font-size: 1.6rem;
  font-weight: 400;
  color: $font-color;
  line-height: 1.7;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font-family;
  font-weight: 700;
}

li {
  list-style-type: none;
}

.page {
  animation: fade-in .25s ease-in;

  &.page--960 {
    width: 96rem;
    margin: 0 auto;
  }
}

.react-icon {
  color: $snow-1;
}

.hide {
  display: none;
}

@media screen and (max-width: 765px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 960px) {
  .page.page--960 {
    width: 90vw;
  }
}
